{{#unless readOnlyMode}}
{{#if commentFeature}}
  {{#if isCommentDivShown}}
  <div class="addCommentDiv">

   <div id="showError"></div>

   <h4>
   <span class="pull-right" style="padding-left:1%;padding-right:1%;">
    {{manage-editor isHiding=true
                      user_name=user_name
                      user_email=user_email
                      typeComment=typeComment
                      sendingCommentOn=sendingCommentOn
                      isCommentDivShown=isCommentDivShown
                      isHideAddComment=isHideAddComment
                      actualPostId=actualPostId
                      actualTitle=actualTitle
                      isReplying=isReplying
                      currentSlug=currentSlug
                      commentIdToReply=commentIdToReply
                      commenterNameToReply=commenterNameToReply
                      commenterGravaterToReply=commenterGravaterToReply}}
   
   </span>
   <span class="pull-right">
   {{manage-editor isCanceling=true
                      user_name=user_name
                      user_email=user_email
                      typeComment=typeComment
                      sendingCommentOn=sendingCommentOn
                      isCommentDivShown=isCommentDivShown
                      actualPostId=actualPostId
                      actualTitle=actualTitle
                      isReplying=isReplying
                      currentSlug=currentSlug
                      commentIdToReply=commentIdToReply
                      commenterNameToReply=commenterNameToReply
                      commenterGravaterToReply=commenterGravaterToReply}}
    </span>

   &nbsp; 

   {{#if isReplying}}
    <small>
      <div class="pull-left" style="padding-left:1%;">Replying to&nbsp;comment by&nbsp;</div>
      <div class="pull-left">{{gravatar-image email=commenterGravaterToReply size="20" notReply=false}}</div>
      <div class="pull-left">&nbsp;<strong>{{commenterNameToReply}}:</strong></div>
    </small>
   {{else}}
    <small>Commenting to&nbsp;
      {{#link-to 'post' currentSlug actualPostId}}{{{actualTitle}}}{{/link-to}}
    </small>
   {{/if}}
     
   </h4>
   <div class="container-fluid">
      <div class="row">

        <div class="col-lg-6">
        
        
          {{editor-tools}}
        
          {{auto-expanding-text-area class="form-control" maxlength="2000" row="7" value=typeComment}}
   
          {{#if showNewCommentLength}}
            <div style="text-align:center;padding:0.5%;">{{newCommentLength}} to go for the post</div>
          {{/if}}
          <div class="row" style="margin-top:2px;" >
            
            <div class="col-xs-10">
                
                {{input type="hidden" value=actualPostId}}
                
                  {{input type="text" name="spam_bot" class="hidden" value=valueForSpam}}

                  {{add-comment isSending=true
                      is_loggedin=is_loggedin
                      user_name=user_name
                      user_email=user_email
                      typeComment=typeComment
                      sendingCommentOn=sendingCommentOn
                      comments=comments
                      isCommentDivShown=isCommentDivShown
                      isHideAddComment=isHideAddComment
                      commentsArray=commentsArray
                      actualPostId=actualPostId
                      actualTitle=actualTitle
                      isReplying=isReplying
                      valueForSpam=valueForSpam
                      currentSlug=currentSlug
                      commentIdToReply=commentIdToReply
                      commenterNameToReply=commenterNameToReply
                      commenterGravaterToReply=commenterGravaterToReply}}
                
            </div>
          </div>
    
      </div>
        <div class="col-lg-6" id="typingCommentDiv" style="border:1px dashed #000;background-color:#ffffff;padding:1%;height:115px;overflow:auto;">
          {{format-markdown typeComment}}
        </div>
     </div>
    </div>
   </div>
  {{/if}}


  {{#if isHideAddComment}}
    {{manage-editor isShowing=true
          isCommentDivShown=isCommentDivShown
          isHideAddComment=isHideAddComment}}
  {{/if}}
{{/if}}  
{{/unless}}