
<div class="col-sm-3 col-sm-offset-1 blog-sidebar" id="sidebar" {{bind-attr style="sidebarBgColor"}}>
{{#with sidebarAuthor}}
  <div class="row">
    <div class="sidebar-module col-xs-6">
      {{#unless image}}
        <img {{bind-attr src=hashedEmail}} alt='person image'/>
      {{else}}
        <img {{bind-attr src=image}} alt='person image' height="170px" width="170px"/>
      {{/unless}}
    </div>
  </div>
  <div class="row">
  <div class="sidebar-module-inset col-xs-10">
    <h4>About</h4>
      {{format-markdown about}}
  </div>
  </div>
{{/with}}
  <div class="row">
  <div class="sidebar-module col-xs-10">
    <h4>Archive</h4>
    <ol class="list-unstyled">
      {{#each sa in sidebarArchive}}
        <li {{bind-attr title=sa.created}} class="sidebar-archive-link">
          {{#link-to 'post' sa}}

            {{#if sa.has_img}}
              {{format-markdown sa.first_img}}
            {{/if}}

            {{{sa.title}}}

          {{/link-to}}
        </li>
      {{/each}}
    </ol>
      {{#link-to 'archive'}}
        <h3>See all <i class="fa fa-chevron-right"></i></h3>
      {{/link-to}}
  </div>
  </div>
  <div class="row">
  <div class="sidebar-module col-xs-6">
    <h4>Elsewhere</h4>
      <ol class="list-unstyled">
      {{#each blogLinks}}
        {{#if elseUrl}}
          <li><a {{ bind-attr href=url }}>{{link_name}}</a></li>
        {{/if}}
      {{/each}}
      </ol>
  </div>
  </div>
</div>