  <div class="container-full" {{bind-attr style="bodyBgColor"}}>
  {{partial 'navbar'}}
    <div class="container">
      <div class="blog-header">
        {{#if readOnlyMode}}
         <div class="alert alert-warning" role="alert">
          The Entire Blog is now in <strong>Read Only Mode</strong>
         </div>
        {{/if}}

        <div class="media blog-title">

      <div class="pull-left">
        {{#if hasLogo}}
          <img {{bind-attr src=blogLogo}} height="70px" width="70px" max-width="300px"/>
        {{/if}}
      </div>
      
      <div class="media-body">
      
        <h1 class="media-heading">
          {{#link-to 'index'}}
            {{{blogTitle}}}
          {{/link-to}}
        </h1>
        <p class="lead blog-description">
          {{{blogSubTitle}}}
        </p>
        {{format-markdown comment}}
      </div>
      </div>
      <div class="row">
        
        {{outlet}}
        {{partial 'sidebar'}}  
      </div><!-- /.row -->
    </div><!-- /.container -->

    
  </div> <!-- /container full -->
  {{partial 'footer'}}
  
  {{partial 'editor'}}
