{{#if commentFeature}}
  <div class="media">

        <div class="pull-left" {{bind-attr title=name}}>
          {{gravatar-image email=email}}
        </div>

        <div class="media-body">

         <h5 class="media-heading">
             <strong>{{{name}}}</strong>
             <div class="pull-right" {{bind-attr title=cdate}}>
              <time>{{time-ago createdAt=cdate}}</time>
             </div>

             {{#if replyToComment.commentHasReply}}
               <div class="pull-right">   
                  {{{replyToComment.name}}} &nbsp;
               </div>
               <div class="pull-right" style="padding-right:1%;">
                  {{gravatar-image email=replyToComment.email size="18" notReply=false}}&nbsp;
               </div>
               <div class="pull-right">
                 <i class="fa fa-share"></i>&nbsp;
               </div>
             {{/if}}
         </h5>
          {{format-markdown comment}}
        </div>
        {{#if readOnlyMode}}
        <div>
          <button class="btn btn-default" type="button" disabled="disabled"><i class="fa fa-flag-o"></i></button>
          <button class="btn btn-info" title="Reply to comment" type="button" disabled="disabled"><i class="fa fa-reply"></i> Reply</button>
        </div>
        {{else}}
        <div>
          {{flag-comment isFlagged=isFlagged id=id}}

          {{add-comment isReply=true notReply=false
              postId=postIdFromPostCtlr
              comments=getCommentsArrayFromPostCtlr
              isCommentDivShown=isCommentDivShown
              isHideAddComment=isHideAddComment
              commentsArray=commentsArray
              actualPostId=actualPostId
              isReplying=isReplying
              actualTitle=actualTitle
              currentSlug=currentSlug
              cmtId=id
              cmtName=name
              cmtEmail=email
              commentIdToReply=commentIdToReply
              commenterNameToReply=commenterNameToReply
              commenterGravaterToReply=commenterGravaterToReply}}
        </div>
        {{/if}}
  </div>
     
  <hr />
{{/if}}