<div class="btn-group btn-group-sm">
  <button type="button" class="btn btn-default" {{action 'insertBold'}}><i class="fa fa-bold"></i></button>
  <button type="button" class="btn btn-default" {{action 'insertItalic'}}><i class="fa fa-italic"></i></button>
  <button type="button" class="btn btn-default" {{action 'insertLink'}}><i class="fa fa-link"></i></button>
  <button type="button" class="btn btn-default" {{action 'insertQuote'}}><i class="fa fa-comment-o"></i></button>
  <button type="button" class="btn btn-default" {{action 'insertCode'}}><i class="fa fa-code"></i></button>
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#imgModal"><i class="fa fa-file-image-o"></i></button>
                
    <!-- Modal -->
    <div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" {{action 'cancelUploadImage'}} data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-picture-o fa-lg text-info"></i> Upload Image</h4>
          </div>
          <div class="modal-body">
            <div role="tabpanel">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active" {{action "imgTabStatus"}}><a href="#imgTab" aria-controls="imgTab" role="tab" data-toggle="tab">Insert Image</a></li>
                <li role="presentation" {{action "vidTabStatus"}}><a href="#videoTab" aria-controls="videoTab" role="tab" data-toggle="tab">Insert Video</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="imgTab">
                  <div id="feedback"></div>
                  <div id="loadingDiv" style="display:none;text-align:center;"><i class="fa fa-spinner fa-spin"></i> Uploading...</div>
                  <label for="imageUrlTextField">Type URL / Upload from my Computer: </label>
                  <input type="text" id="imageUrlTextField" value="" placeholder="http://example.com/image.jpg" class="form-control">
         
                  <br />
                  <iframe name="upload_iframe" src="" style="display:none;"></iframe>
          
                  <form method="POST" action="uploadImage" accept-charset="UTF-8" target="upload_iframe" enctype="multipart/form-data">
                    {{input type="hidden" name="non_ajax_token" value=admin_token}}
                    <input type="hidden" name="MAX_FILE_SIZE" value="5000000" />
                    <input name="file" size="20" type="file" accept="image/jpg, image/png, image/gif, image/jpeg"/>
                    <br />
                    <input type="submit" class="btn btn-primary" name="submit" value="Upload" onclick="showLoading();"/>
                  </form>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="videoTab">
                  <label for="videoUrlTextField">Exyht supports Youtube video: </label>
                  <input type="text" id="videoUrlTextField" value="" placeholder="Place Youtube video link here" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" {{action 'cancelUploadImage'}} data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" {{action 'insertImage'}} data-dismiss="modal">Insert in Editor</button>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-default" {{action 'insertOrderedlist'}}><i class="fa fa-list-ol"></i></button>
    <button type="button" class="btn btn-default" {{action 'insertUnorderedlist'}}><i class="fa fa-list"></i></button>
                    
    <button type="button" class="btn btn-default" {{action 'insertHorizontalrule'}}><i class="fa fa-minus"></i></button>
    <button type="button" class="btn btn-default" {{action 'insertStrikethrough'}}><i class="fa fa-strikethrough"></i></button>
    <button type="button" class="btn btn-default" {{action 'insertSubscript'}}><i class="fa fa-subscript"></i></button>
    <button type="button" class="btn btn-default" {{action 'insertSuperscript'}}><i class="fa fa-superscript"></i></button>
                
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-header"></i>
        <span class="caret"></span>
      </button>
       <ul class="dropdown-menu" role="menu">
        <li role="presentation"><a href=""{{action 'insertHeading1'}}>H1</a></li>
        <li role="presentation"><a href=""{{action 'insertHeading2'}}>H2</a></li>
        <li role="presentation"><a href=""{{action 'insertHeading3'}}>H3</a></li>
       </ul>
    </div>
</div>