<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        {{#if isEditingOn}}
          Edit post
        {{else}}
          {{#if isProfileEditingOn}}
            Edit Profile
          {{else}}
            Create new post
          {{/if}}
        {{/if}}
      </h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-6">
                {{partial "editortools"}}
                <br /><br />               
                <form id="createNewNoteForm">
				
                {{#unless isProfileEditingOn}}
                  {{input class="form-control" id="newTitle" type="text" name="title" value=ntitle placeholder="Blog title"}}<br />
                {{/unless}}
				
                {{#if showNbodyLength}}
                  <div style="text-align:center;padding:0.5%;">{{newBodyLength}} to go for the post</div>
                {{/if}}
				  
                {{auto-expanding-text-area class="form-control" id="newBody" name="body" rows="14" value=nbody}}<br />
                {{partial "editoractionbutton"}}
                </form>
              </div>
              <!-- /.col-lg-6 (nested) -->
              <div class="col-lg-6">
                <style>
                  #postBodyDiv pre{max-height:500px;max-width:100%;overflow:auto;}
                  img{max-height:500px;max-width:100%;}
                </style>
                {{#unless isProfileEditingOn}}
                  <h3 style="border:1px dashed #000;padding:1%;overflow-x: auto;">{{ntitle}}</h3> <br />
                {{/unless}}
                <div id="postBodyDiv" style="border:1px dashed #000;padding:1%;height:350px;overflow: auto;">{{format-xmarkdown nbody}}</div><br />
              </div>
              <!-- /.col-lg-6 (nested) -->
            </div>
            <!-- /.row (nested) -->
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /#page-wrapper -->